.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121231;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}

.modal input[type="text"], .modal input[type="date"] {
    display: block;
    background-color: #21213E;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    
    
}

.modal button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:last-child {
    background-color: #dc3545;
}



.project-select-label {
    color: white;
    background-color:#21213E ;
    
}

