.mission-card {
    background: #21213E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: beige;
    
  }
  
  .mission-card .text {
    font-size: 100%;
    color: white;
    flex: 1;
    /* margin-right: 20px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .mission-card .date {
    color: #999;
    font-size:2vh;
  }
  
  .mission-card .header {
    color: #F6C927;
    margin-top: -10px; 
  }


.mission-card .header {
  margin-bottom: -25px; 
}


.mission-card .text {
  margin-top: 10px;
  margin-left: 15px;
  
}
.delete{
position: relative;
margin-top: 30%;  
}