/* showMassion.css */

/* Styling for the container */
.container {
  max-width: 100%;
  height: 400px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  overflow-x: auto;
  /* Add scrollbar styles for Webkit-based browsers */
  scrollbar-width: auto;
  scrollbar-color: #28286e #28286e ;

  &::-webkit-scrollbar{
      width: 8px; /* Width of the vertical scrollbar */
      height: 8px;
  }

  &::-webkit-scrollbar-track {
      background: #121230; /* Background color of the track */
  }

  &::-webkit-scrollbar-thumb {
      background: #17174b; /* Color of the scrollbar thumb */
      border-radius: 10px; /* Rounded corners */
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #2d2d75; /* Color of the scrollbar thumb on hover */
  }
}

/* Styling for the individual cards */

.header{
  display: flex;
  align-items: center;
  background-color: #21213E;

}
.circle{
  margin-left: 5%;
  margin-right: 5%;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
}
.status-name{
  color: white;
}
.hedear-container{
  padding: 10px 0 0 0;
  margin-bottom: 30px;
  width:  22vw;
  margin-top: -10px;
  margin-left: 2px;
  margin-right: 0px;
  background-color: #121230;
}
.sum-massion {
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  font-size: 14px;
  font-weight: 100;
  line-height: 5vh;
  text-align: center;
  background: #131331; 
  font-family: Arial, sans-serif;
  color: #fff;
}
