.status-columns {
    display: flex;
    /* justify-content: space-between; */
    max-width: 100%;
    margin-top: 50px;
}

.status-column {
    flex: 1;
    background: #121231;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px; /* Add margin to create space between columns */
}

/* Ensure the last column doesn't have margin to prevent extra space */
.status-column:last-child {
    margin-right: 0;
}
.header{
    background-color: #21213E;
    width: 70%;
    border-radius: 10px, 10px, 0px, 0px;
    margin-top: 10px ;
    margin-bottom: 20px;
}
.sum-massion{
    border-radius:50%;
    height:25px;
    width:25px;
    color: white;
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
    text-align: center;
    background: #131331;

}
.circle{
    border-radius:50%;
    height:10px;
    width:10px
}

/* Mission card style */
.mission-card {
    background: #21213E;
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between mission cards */
    width: 70%; /* Make the cards rectangular and full width */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between avatar and text */
    padding: 10px;
}

/* Styling for the avatar */
/* .mission-card .left-content svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */
.text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
/* Styling for the text */
.mission-card .middle-content .header {
    font-weight: bold;
}

.mission-card .middle-content .content {
    color: #333;
}

/* Styling for the date */
.mission-card .date {
    color: #999;
    font-size: 12px;
}
