
.status-columns {
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}

.status-column {
    flex: 1;

    color: rgb(16, 16, 95);
    background: #121231;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    color: #fff; 
}

.status-column:last-child {
    margin-right: 0;
    
}
