/* Status columns */
.status-columns {
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}

.status-column {
    flex: 1;

    color: rgb(16, 16, 95);
    background: #121231;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    color: #fff; /* שנה צבע הטקסט ללבן */
}

.status-column:last-child {
    margin-right: 0;
}

.header {
    background-color: #21213E;

    /* width: 70%;
    border-radius: 10px, 10px, 0px, 0px;
    margin-top: 10px ;
    margin-bottom: 20px; */
}
.sum-massion{
    border-radius:50%;
    height:25px;
    width:25px;
    color: white;
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;

    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    margin-bottom: 20px;

    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.sum-massion {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    background: #131331; /* שמור על הרקע הכהה */
    margin: 10px;
}


/* Mission card style */

/* Styling for the avatar */
/* .mission-card .left-content svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

.mission-card {
    background: #21213E;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.mission-card .middle-content .header {
    font-weight: bold;
    color: #fff;
}

.mission-card .middle-content .content {
    color: #eee;
}

.mission-card .date {
    color: #999;
    font-size: 12px;
}

