/* Status columns */
.status-columns {
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}

.status-column {
    flex: 1;

    color: rgb(16, 16, 95);
    background: #121231;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    color: #fff; /* שנה צבע הטקסט ללבן */
}

.status-column:last-child {
    margin-right: 0;
    
}
/* 
.mission-card {
    background: #21213E;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.mission-card .middle-content .header {
    font-weight: bold;
    color: #fff;
}

.mission-card .middle-content .content {
    color: #eee;
}

.mission-card .date {
    color: #999;
    font-size: 12px;
} */

